.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url("https://c.wallhere.com/photos/81/a1/simple_simple_background_minimalism_video_game_characters_white_logo_Paper_Mario_Mario_Bros-1381513.jpg!d");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.card-columns {
  display: flex;
  flex-wrap: wrap;
  width: 1500px;
}

.eachCard {
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 50px;
  box-shadow: 9px 8px 23px 3px rgba(0, 0, 0, 0.76);
}

h3 {
  text-align: center;
  /* box-shadow: 9px 8px 23px 3px rgba(0, 0, 0, 0.76); */
}
